<div id="<%= dom_id burger %>">
  <p>
    <strong>Name:</strong>
    <%= burger.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= burger.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= burger.price %>
  </p>

</div>
